* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px 20px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
}

.gallery img:hover  {
    box-shadow: 0 0 10px black;
}
